[Unit]
Description=auto-check-in-script
After=network.target
PartOf=graphical-session.target

[Service]
User=xuranus
ExecStart=/usr/share/sbneub/submit
Environment="DISPLAY=:0"
#Environment="XAUTHORITY=/tmp/xauth-1000-_0"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"
Restart=always

[Install]
WantedBy=multi-user.target xsession.target
